<ul class="nav bg-dark justify-content-center" id='footer'>
  <li class="nav-item ">
    <a class="nav-link active" aria-current="page" href="#" style="text-decoration: none; color:white;">&copy; Mess Management System 2021</a>
  </li>
</ul>