<div class="container-fluid bg-info">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="img_style">
          <img src="http://www.cuh.ac.in/images/logo.png" alt="image broken" width="70%" height="120" class=" dis_image1">
          <img src="https://www.google.com/imgres?imgurl=http%3A%2F%2Fwww.cuh.ac.in%2Fiqac%2Fimages%2Flogo.png&imgrefurl=http%3A%2F%2Fwww.cuh.ac.in%2Fiqac%2Fdownload.html&tbnid=2YL2nFcM8Y6InM&vet=12ahUKEwis3OLqv6_1AhVJgGMGHYbFAo8QMygDegQIARBt..i&docid=HW9myAvkTFo9GM&w=554&h=627&q=Cuh%20logo%20images%20hd&ved=2ahUKEwis3OLqv6_1AhVJgGMGHYbFAo8QMygDegQIARBt" alt="" width="180px" height="120" class="dis_image2">
          </div>
        </div>
        <div class="col-12 col-sm-6 align-self-center nav_name" >
          <div class="row justify-content-center text-light font-italic" style="font-family:'Lora';text-shadow:4px 4px rgba(0, 0, 0, 0.4);font-weight: 600;">MESS MANAGEMENT SYSTEM</div>
        </div>
      </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="nav_button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/messdetails">MESS DETAILS</a>
          </li>
        </ul>
        <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% if(login===true) { %> 
                  <li class="nav-item">
                    <a class="nav-link active" href="/dashboard/<%=id%>">Your Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/logout">LOGOUT</a>
                  </li>
                 <% } %>
                 <% if(login===false){ %>   
                <li class="nav-item">
                    <a class="nav-link active" href="/login">LOGIN</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/register">SIGNUP</a>
                </li>
                <% } %> 
            </ul>
        </form>
      </div>
    </div>
  </nav>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>