.login{
    display:flex;
    justify-content: center;
    /* background-image: url('loginfood.jpg'); */
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right,#2193b0 , #6dd5ed); 
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.login2{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: red;
    background-image: linear-gradient(to bottom right,#2193b0 , #6dd5ed); 
    margin:5% 0;
    border-radius: 10px;
    flex-basis: 25%;
}
.forms{
    margin:10px;
}
input,label{
    width: 100%;
    padding:4px;
}
.imgs{
    display:flex;
    align-items: center;
    justify-content: center;
}

button {background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%)}
button {
       margin: 10px;
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       display: block;
     }

button:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }
.buttons{
        display:flex;
        justify-content: center;
        align-items: center;
    }