.login{
    display:flex;
    justify-content: center;
    background-image: url('loginpagebackground.jpg'); /* For browsers that do not support gradients */
    /* background-image: linear-gradient(to bottom right,#2193b0 , #6dd5ed);  */
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.login2{
    display:flex;
    color:white;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* background-color: red; */
    background-image: linear-gradient(to bottom right,#2193b0 , #023e8a); 
    margin:5% 0;
    border-radius: 10px;
    flex-basis: 30%;
    font-size:large;
}
.forms{
    margin:10px;
}
input,label,select,option{
    width: 100%;
    padding:4px;
}
input,option,select{
    text-transform: uppercase;
    border-radius:5px;
}
.imgs{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:50px;
}

#user_img{
    width: 25%;
}

#submits {background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%)}
    
#submits {
       margin: 40px;
       padding: 15px 35px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 5px #eee;
       border-radius: 10px;
       display: block;
     }

     
     #submits:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }
.buttons{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    @media  screen and (max-width:1100px) {
       
        .login2{
            flex-basis:40%;

        }
        #user_img{
            width:35%;
        }    
    }
    @media  screen and (max-width:900px) {
       
    .login2{
        flex-basis:45%;
    }    
} 

@media  screen and (max-width:700px) {
       
    .login2{
        flex-basis:60%;
    }
    #user_img{
        width:40%;
    }     
}

@media  screen and (max-width:500px) {
       
    .login2{
        flex-basis:80%;
    }  
    #user_img{
        width:50%;
    }       
} 

@media screen and (max-width:850px)
{
    .inputs{
        padding:0px 0px;
        margin-bottom: 0px;
    }
    .imgs
    {
        width:100%;
    }
    .inner{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .labels{
        margin-bottom:20px;
        display:flex;
        flex:1;
    }
    label{
        position:relative;
        left:0%;
    }
    input,option,select{
        position: relative;
        right:0%;
    }
    .left{
        border:none;
    }
    #log_img{
        width:20%;
        margin-top:20px;
    }
}

@media screen and (max-width:550px)
{
    .labels{
        display:flex;
        flex-direction: column;
        margin: 15px;
    }
    label{
        margin-bottom:10px;
        position: relative;
        right:0%;
    }
    input,select,option{
        width:100%;
        position:relative;
        left:0%;
    }
    #log_img{
        margin-top:20px;
        width:30%;
    }
}