.formStyle{
    color:White;
    border:2px solid black;
    background-image: url('pexels-pixabay-326279.jpg');
    background-size: 100%;
    padding:10px 0px;
    /* background-image:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://i.imgur.com/xnh5x47.jpg"); */
}


.imgs{    
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
}

#log_img{
    width:12%;
    margin-top:20px;
}

.inputs{
    display:inline-block;
    width:100%;
    margin-bottom:50px;
    padding:0px 50px;
    /* border:2px solid black; */
}
.inner{
    display:flex;
    /* border:2px solid green; */
}
.labels{
    flex:1;
    display: flex;
    /* border:1px solid red; */

}
.right{
    /* border:1px solid blue; */
    flex:1;
   
}
input,select,option
{
    border:1px solid grey;
    text-transform: uppercase;
    
}
.left{
    /* border: 1px solid navy; */
    display:flex;
    justify-content:flex-start;
    font-size: large;
    font-weight: 700;
    padding-left: 10%;
    border-right:1px solid grey;
}
#submit {background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%)}
    
#submit {
       margin: 20px 10px;
       padding: 15px 35px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 5px #eee;
       border-radius: 10px;
       display: block;
     }

     
     #submit:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }
    
.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.error{
    text-align: center;
    margin:40px 25%;
}
.dis_image2{
    display: none;
}

.nav_name{
    font-size: 30px;
}



.img_style{
    display:flex;
    justify-content: flex-start;
}

.error{
    display:flex;
    height:80vh;
    width:100%;
    justify-content: center;
    align-items: center;
    color:black;
    background-color:cornflowerblue;
    margin:0px;
    font-size:100px;
    font-weight: 900;
}

/* Nav bar heading media query */
@media  screen and (max-width:1175px) {
    .nav_name{
        font-size:24px;
    }
    
}

@media  screen and (max-width:650px) {
    .nav_name{
        font-size:20px;
    }
    .dis_image2{
        display:block;
    }
    .dis_image1{
        display:none;
    }
    .img_style{
        justify-content: center;
    }
}

@media screen and (max-width:850px)
{
    .inputs{
        padding:0px 0px;
        margin-bottom: 0px;
    }
    .imgs
    {
        width:100%;
    }
    .inner{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .labels{
        margin-bottom:20px;
        display:flex;
        flex:1;
    }
    label{
        position:relative;
        left:10%;
    }
    input,option,select{
        position: relative;
        right:10%;
    }
    .left{
        border:none;
    }
    #log_img{
        width:20%;
        margin-top:20px;
    }
}

@media screen and (max-width:550px)
{
    .labels{
        display:flex;
        flex-direction: column;
        margin: 15px;
    }
    label{
        margin-bottom:10px;
        position: relative;
        right:40%;
    }
    input,select,option{
        width:70%;
        position:relative;
        left:20%;
    }
    #log_img{
        margin-top:20px;
        width:30%;
    }
}

